<%= link_to 'アーティストを選択する', root_path %>
<%= link_to '曲と点数を登録する', new_artist_song_path %>
<h3>
    <%=  @artist.group %>
</h3>
<% @songs.each do |song| %>
    <ul>
        <li><%= "【 #{song.title} 】 ・・・ #{song.point} 点" %></li>
        <%= link_to edit_artist_song_path(@artist, song)do %>
            <button class="btn btn-outline-primary p-2 btn-sm"> 編集</button>
        <% end %>
        <%= link_to artist_song_path(@artist, song), method: :delete do %>
            <button class="btn btn-outline-warning p-2 btn-sm"> 削除</button>
        <% end %>
    </ul>
<% end %>



